@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --light-hover: #fcf4ff;
  --dark-hover: #2a004a;
  --dark-theme: #11001f;
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
}

* {
  font-family: var(--font-outfit);
}
